@import "../../../styles/generalWebStyles.css";

.menuContainer{
    height: 70px;
    background-color:#292928;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction: row
}
.logoHorizontal{
    width:250px;
    height:75px;
    margin-top:10px
}
.configurationButton{
    height:25px;
    width:25px;
    margin-right:20px;
    background-color:#292928;
    border:0px;
}
.configurationIcon{
    width:25px; 
    height:25px
}

@media only screen and (max-width: 600px) {
    .menuContainer{
        height: 60px;
    }
    .configurationButton{
        padding-right:40px;
    }
}


