@import "../../../styles/generalWebStyles.css";

.newCategoryContainer{
    position:absolute;
    top:20%;
    left: 50%;
    margin-left: -125px;
    width:250px;
    height:400px;
    background-color:#FFFFFF;
    border-radius:10px;
}
.closeNewCategory{
    position:relative;
    left:220px;
    top:5px;
    background-color:#FFFFFF;
    border:0px
}
.divNewCategory{
    display: flex;
    flex-direction: column;
    width:85%;
}
.selectedIcon{
    width: 25px;
    height: 25px;
}