.tableContainer{
    display: flex;
    flex: 1;
    margin: 40px;
    box-shadow: 4px 4px 8px 4px #888888;
    border-radius: 5px;
    padding: 10px;
    flex-direction: column;
}
.categoriesHomeTable{
    border-spacing:0px;
    padding: 20px;
    width:100%;
}
.categoriesRow{
    display: flex;
    flex:1;
    text-align:left;
    height:40px;
    width: 100%;

}
.categoriesRow:hover{
    background-color: #E3C9F7;
}
.headCategoriesRow{
    display: flex;
    flex:1;
    align-items: center;
    text-align:left;
    height:40px;
    width: 100%;
}
.categoriesValue{
    border-bottom-style:solid;
    border-width:2px;
    padding-top: 10px;
    
}
.tableIcon{
    padding-left: 5px;
    width: 10%;
}
.tableCategory{
    width: 65%;
}
.tableTotal{
    width: 15%;
}
.tableDescription{
    width: 35%;
}
.tableDate{
    width: 30%;
}
.tableDelete{
    width: 10%;
    text-align:right;
    padding-right: 5px;
}
.categoriesHomeTableHead{
    text-align: left;
    border-bottom-style:solid;
    border-width:2px;
    background-color: #8E29E0;
    height: 40px;
    color: #EEEEEE;
    display: block;
    width: 100%;
}
.categoriesHomeTableBody{
    display: block;
    width: 100%;
    height: 300px;
    overflow-y: auto;
}
.cardTitle{
    font-weight: bolder;
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 20px;
}
.cardTitleContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-end ;
}
.cardViewAll{
    border: 0px;
    background-color: #999999;
    border-radius: 6px;
    height: 25px;
    font-size: 12px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70px ;
    justify-content: space-between;
}
.cardViewAll:hover{
    background-color: #BBBBBB;
}
@media only screen and (max-width: 600px) {
    .tableContainer{
        height: 300px;
        margin: 25px;
    }
    .categoriesHomeTableBody{
        height: 200px;
    }
    .tableCategory{
        font-size: 12px;

    }
    .tableTotal{
        font-size: 12px;

    }
    .tableDescription{
        font-size: 12px;

    }
    .tableDate{
        font-size: 12px;
        width: 25%;
    }
}