@import "../../../styles/generalWebStyles.css";

.confirmBudgetContainer{
    position:absolute;
    top:20%;
    left: 50%;
    margin-left: -150px;
    width:300px;
    height:320px;
    background-color:#FFFFFF;
    border-radius:10px;
}
.closeConfirmBudget{
    position:relative;
    left:270px;
    top:5px;
    background-color:#FFFFFF;
    border:0px
}
.confirmBudgetContent{
    width: 80%;

}
.confirmBudgetTotal{
    font-weight: bold;
    margin: 2px;
    text-align: center;
    font-size: 20px;
}
.buttonConfirmBudget{
    height:40px;
    border-radius:5px;
    border:0px;
    color:#FFFFFF;
    font-weight:bold;
    background-color:#a59ba8;

}
.buttonConfirmBudget:hover{
    background-color:#8a818d;

}
.popUpDeleteButton{
    margin-top: 15px;
    width: 100px;
}