@import "../../../styles/generalWebStyles.css";

.menuButton{
    width:100%;
    border-radius:5px;
    background-color:#FFFFFF;
    border:0px;
    color:#222222;
    font-weight:bold;
    height:40px
}
.menuButton:hover{
    background-color:#AAAAAA
}
.configurationMenu{
    width:150px;
    border-radius:10px;
    background-color:#FFFFFF;
    position:absolute;
    right:15px;
    top:60px
}

@media only screen and (max-width: 600px) {
    .menuButton{
        font-size: 12px;
    }
    .configurationMenu{
        top:75px
    }
}