.categoryDetailsTable{
    border-spacing:0px;
    padding: 20px;
    width:100%;
}
.categoryDetailsRow{
    display: flex;
    flex:1;
    text-align:left;
    height:40px;
    width: 100%;

}
.categoryDetailsRow:hover{
    background-color: #E3C9F7;
}
.headCategoryDetailsRow{
    display: flex;
    flex:1;
    align-items: center;
    text-align:left;
    height:40px;
    width: 100%;
}
.categoriesValue{
    border-bottom-style:solid;
    border-width:2px;
    padding-top: 10px;
    
}
.tableCategoryTotal{
    width: 15%;
}
.tableCategoryDescription{
    width: 40%;
    padding-left: 15px;
}
.tableCategoryDate{
    width: 45%;
}
.categoryDetailsTableHead{
    text-align: left;
    border-bottom-style:solid;
    border-width:2px;
    background-color: #8E29E0;
    height: 40px;
    color: #EEEEEE;
    display: block;
    width: 100%;
}
.categoryDetailsTableBody{
    display: block;
    width: 100%;
    height: 300px;
    overflow-y: auto;
}
.categoryDetailsContainer{
    position:absolute;
    top:20%;
    left: 50%;
    margin-left: -275px;
    width:550px;
    height:400px;
    background-color:#FFFFFF;
    border-radius:10px;
}
.closeCategoryDetails{
    position:relative;
    left:15px;
    top:15px;
    background-color:#FFFFFF;
    border:0px;
}
.editCategoryIcon{
    position:absolute;
    left:465px;
    top:15px;
    width: 20px;
    height: 20px;
}
.deleteCategoryIcon{
    position:absolute;
    left:500px;
    top:15px;
    width: 20px;
    height: 20px;
}
@media only screen and (max-width: 600px) {
    .categoryDetailsContainer{
        left: 0;
        margin-left: 20px;
        width:90%;
    }
    .closeCategoryDetails{
        position:relative;
        left:310px;
    }
}