@import "../../../styles/generalWebStyles.css";

.newExpenseContainer{
    position:absolute;
    top:20%;
    left: 50%;
    margin-left: -125px;
    width:250px;
    height:380px;
    background-color:#FFFFFF;
    border-radius:10px;
}
.closeNewExpense{
    position:relative;
    left:220px;
    top:5px;
    background-color:#FFFFFF;
    border:0px
}
.formNewExpense{
    display: flex;
    flex-direction: column;
    width:85%;
}
