@import "../../../styles/generalWebStyles.css";

.cardContainerHomeContentBig{
    height: 20px;
    align-items:center;
}
.cardContainerHomeContentBig:hover{
    background-color: #e2d9eb;
}
.cardContainerHomeContent{
    height: 300px;
    align-items:center;
}
.cardContainerHomeContent:hover{
    background-color: #e2d9eb;
}
.categoriesHomeTable{
    border-spacing:0px;
    padding: 20px;
    width:100%;
}
.categoriesBudgetRow{
    display: flex;
    flex:1;
    text-align:left;
    height:40px;
    width: 100%;
    font-size: 13px;
}
.categoriesBudgetRow:hover{
    background-color: #a589cd;
}
.headCategoriesRow{
    display: flex;
    flex:1;
    align-items: center;
    text-align:left;
    height:40px;
    width: 100%;
}
.categoriesValue{
    border-bottom-style:solid;
    border-width:2px;
    padding-top: 10px;
    border-color: #000000;
}
.tableHomeBudgetIcon{
    padding-left: 5px;
    width: 10%;
}
.tableHomeBudgetCategory{
    width: 45%;
}
.tableHomeBudgetNumber{
    width: 15%;
}
.homeTableIcon{
    padding-left: 5px;
    width: 15%;
}
.homeTableTotal{
    width: 25%;
}
.homeTableDescription{
    width: 50%;
}
.budgetHomeTableHead{
    text-align: left;
    border-bottom-style:solid;
    border-width:2px;
    background-color: #52347b;
    height: 40px;
    color: #EEEEEE;
    display: block;
    width: 100%;
}
.budgetHomeTableBody{
    display: block;
    width: 100%;
    height: 250px;
    overflow-y: auto;
}
.expensesHomeTableBody{
    display: block;
    width: 100%;
    overflow-y: auto;
    height: 180px;
}
.cardTitle{
    font-weight: bolder;
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 20px;
}
.cardTitleContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-end ;
}
.cardViewAll{
    border: 0px;
    background-color: #999999;
    border-radius: 6px;
    height: 25px;
    font-size: 12px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70px ;
    justify-content: space-between;
}
.cardViewAll:hover{
    background-color: #BBBBBB;
}
.homeBudgetValues{
    margin: 0px;
    font-size: 25px;
}
@media only screen and (max-width: 600px) {
    .cardContainerHomeContent{
        height: 300px;
        margin: 25px;
    }
    .categoriesHomeTableBody{
        height: 200px;
    }
    .tableCategory{
        font-size: 12px;

    }
    .tableTotal{
        font-size: 12px;

    }
    .tableDescription{
        font-size: 12px;

    }
    .tableDate{
        font-size: 12px;
        width: 25%;
    }
    .cardContainerHomeContentBig{
        margin: 20px;
    }
    .homeBudgetValues{
        font-size: 15px;
    }
}